  <h1 align="center" class="page-header" > <%= current_user.name.capitalize %>'s Profile</h1><br>

  <div align="center" class="container user_show_body"><br>

    <form action="demo_form.asp">
      <% @subjects.each do |subject|  %>
      <input type="checkbox" name="subject" value="<%= subject.title %>"> <%= subject.title %><br>
      <% end %>
      <input type="submit" value="Submit">
    </form>


    <ul align="center"><% @user.links.each do |instance| %>
      <li><% instance.id %>
        <%= instance.title %></a></li>
        <% end %>
      </ul>

    </div>

var ajax = $.ajax({stuff}).done(response)
$('#mainthing).html(response.results.commentBody)
.html("<a href=" + response.results.url + ">" "
<%=
